# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
Icon
Network Trash Folder
Temporary Items
.apdisk

# Windows System Files
Thumbs.db
ehthumbs.db
Desktop.ini

# Code Editors & IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
